.col-xs-6 > .btn-lg {
	padding: 75px 0px;
	font-size: 45px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}



.col-xs-6 {
	padding: 10px;
}
.jumbotron {
  background-image:url('http://goo.gl/dwIaoU');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.led-buttons h1 {
  color: #fff;
  text-align: center;
  font-size: 75px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}