<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>IoT test interface</title>

    <!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://cdn.socket.io/socket.io-1.4.4.js"></script>
<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> 
<!--	<link rel="stylesheet" type="text/css" href="../static/main.css">-->
  </head>
  <body >
    <div class="jumbotron">
      <div class="container">
        <h1></h1>
      </div>
    </div> 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <div class="led-buttons">
        <div class="container">
            <h1>IoT Test Interface</h1>
    
            <div class="row">
                <div class="col-xs-6" >
					<input class="btn btn-default btn-lg btn-block " type="button" value="LED1" id=0>
				</div>
				<div class="col-xs-6">
					<input class="btn btn-default btn-lg btn-block " type="button" value="LED2" id=1>
				</div>
                <div class="col-xs-6">
					<input class="btn btn-default btn-lg btn-block " type="button" value="LED3" id=2>
				</div >
				<div class="col-xs-6">
					<input class="btn btn-default btn-lg btn-block " type="button"  value="LED4" id=3>
                  </div>
            
                </div>
            </div>
        </div>
    <script>
        "use strict"
        
        var host = document.location.host
        
        var kit_id = document.location.pathname.split('/')[1] 
        
        var toggle_led = function(){
            var kid = this.id
            var str = [0,0,0,0]
            str[kid/1] = 1
            console.log(kit_id)
			ws.emit('toggleled',{leds:str,id:kit_id})
        }
        
        $('.led-buttons input')
           .data('state', false)
           .on("click", toggle_led)
        
        var buttons = $('.led-buttons input')

        
        var set_button_states = function(states){
            buttons.each(function(index, button){
                var stet = states[index]/1
                if(stet)
                {
                $(button).toggleClass('btn-success',true)
                $(button).toggleClass('btn-danger',false)
                }else{
                $(button).toggleClass('btn-success',false)
                $(button).toggleClass('btn-danger',true)
                }
            })
        }
        
        var ws = io("http://"+host)
        ws.on('connection',function(event){
            ws.emit('requeststate',{id:kit_id})
        })
        ws.on('newboard',function(event){
            if(event.id === kit_id)
            {
            set_button_states(event.data)
            }
        })
        

    </script>
	</body>
</html>
